project_name = Vant

width = 750
height = 1500
number_of_threads = 4

log = true
seed_random = 1587632589
rounds = 500

#Sensor Nodes
nodes[0] = 1000
distribuition_model[0] = MeterDistribution
communication_radio[0] = 50
node_radio[0] = 1
node_implementation[0] = Meter
connectivity_model[0] = VantConnectivity
mobility_model[0] = NoMobility

#Mobile Sink
nodes[1] = 1
distribuition_model[1] = VantDistribution
communication_radio[1] = 50
node_radio[1] = 1
node_implementation[1] = Vant
connectivity_model[1] = VantConnectivity
mobility_model[1] = VantMobility